body {
    padding-inline: 16px;
}

.hr-usage {
    margin-top: 1em;
}

th {
    text-align: unset;
}

pre.error_message {
    white-space: pre-wrap;
}

table td {
    vertical-align: top;
}

#txt_page {
    width: 4em;
}

.slightly-leftpadded {
    padding-inline-start: 1em;
}

nav input[type=submit] {
    border-radius: 4px;
}
.selected {
    background-color: yellow;
}

td.tags {
    display: flex;
    gap: 4px;
}
