<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reposearch</title>
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <h1><a href=".">sth sth search</a></h1>
    <nav>
        <form action="search" method="get">
            <input type="text" name="q" placeholder="Type your query here" value="{{nav.q}}">
            <label for="txt_page">Page</label>
            <input type="number" min="1" id="txt_page" name="page" value="{{nav.page.unwrap_or(1)}}" required>
            <span>Search On</span>
            <span class="choose-provider">
            {%-for provider in SearchProvider::iter()%}
                <input type="submit" name="provider" value="{{provider}}"
                    {%- if let Some(selected_provider) = nav.provider -%}
                    {%-if selected_provider.eq(provider)-%}
                        class="selected"
                    {%-endif-%}
                    {%-endif-%}>
            {%-endfor%}
            </span>
            <input type="text" name="forgejo_endpoint" placeholder="Forgejo API base URL" title="If set, the URL must end in `/`. Defaults to Codeberg." value="{%if let Some(text) = nav.forgejo_endpoint%}{{text}}{%endif%}">
        </form>
    </nav>
    {% block body %}{% endblock %}
</body>
</html>
