{% extends "_base.html" %}
{% block body %}
    <hr class="hr-usage">
    <h2>Usage</h2>
    <ol>
        <li>Type your search term in the search bar</li>
        <li>Click on one of the buttons to search on that website</li>
    </ol>
{% endblock %}
