{% extends "_base.html" %}


{% block body %}
    {%- let page = nav.page.unwrap() -%}

    <h2>Search Results</h2>
    <div>
        {%- if let Some(max_page) = max_page -%}
        <span>Page {{page}} of {{max_page}}</span>
        {%- else -%}
        <span>Page {{page}} of ???</span>
        {%- endif -%}
        <span id="no-actions-js">Some features need Javascript to function</span>
        <span id="actions-js" style="display:none;">
            <button id="btn_download">Download JSON</button>
            <abbr title="Search result is available in Web Console as `window.search_results`">Console?</abbr>
        </span>
    </div>
    <div>
        {%if page > 1 %}
        <a href="/search?q={{nav.q}}&provider={{nav.provider.unwrap()}}&forgejo_endpoint=&page={{page-1}}">previous page</a>
        {%else%}
        <span>No previous page</span>
        {%endif%}
        {%if max_page.is_none() || page < max_page.unwrap() %}
        <a disabled href="/search?q={{nav.q}}&provider={{nav.provider.unwrap()}}&forgejo_endpoint=&page={{page+1}}">next page</a>
        {%else%}
        <span>No next page</span>
        {%endif%}
    </div>
    <table>
        <thead>
            <th>Repo Name</th>
            {%if columns.stars%}<th>Stars</th>{%endif%}
            {%if columns.updated_at%}<th>Last Upated</th>{%endif%}
            {%if columns.tags%}<th>Tags</th>{%endif%}
            <th class="slightly-leftpadded">Description</th>
        </thead>
        <tbody>
            {%for r in search_results%}
            <tr>
                <td>
                    <a href="{{r.html_url}}"><b>{{r.name}}</b></a>
                </td>

                {%if columns.stars%}
                <td style="text-align: end;">
                    {%- if let Some(stars) = r.stars -%}
                        {{stars}}
                    {%- endif -%}
                </td>
                {%endif%}

                {%if columns.updated_at%}
                <td style="text-align: end;">
                    {%- if let Some(text) = r.updated_at_str() -%}
                        {{text}}
                    {%- endif -%}
                </td>
                {%endif%}

                {%if columns.tags%}
                <td class="tags">
                    {%- if let Some(tags) = r.tags -%}
                    {%-for tag in tags-%}
                        <a href="{{tag.url}}">{{tag.name}}</a>
                    {%-endfor-%}
                    {%- endif -%}
                </td>
                {%endif%}

                <td class="slightly-leftpadded">
                    {%- if let Some(text) = r.description -%}
                        {{text}}
                    {%- endif -%}
                </td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
    <template id="search_results">{{search_results_json}}</template>
    <script>
        let btn = document.getElementById("btn_download")
        let json_string = document.getElementById("search_results").content.textContent
        window.search_results = JSON.parse(json_string)
        btn.addEventListener("click", (evt) => {
            var element = document.createElement('a');
            element.setAttribute('href', 'data:application/json,' + encodeURIComponent(json_string));
            element.setAttribute('download', 'search_results.json');
            element.click();
        })
        document.getElementById("no-actions-js").remove()
        document.getElementById("actions-js").style.display = null
    </script>
{% endblock %}
